//Colours variables
$primary-color:#000000;
$secondary-color:#ffffff;
$nav-footer-color:#f4f4f4;
$anchor-hover-color:#e9474b;
$background-nav-color:#F5F5F5;
$border-nav-color:#d3d3d3;

//hover anchor transition speed variable
$hover-anchor-transition_speed: .4s;

//media queries variables
$mobile-width-min: 480px;
$mobile-width-max: 980px;